* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

#containerWindow {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#navigationPanel {
    width: 250px;
    min-width: 250px;
    overflow-y: scroll;
    background-color: #091149;
}

#usernameContainer {
    color: #CDCDCD;
    padding-top: 20px;
    padding-left: 30px;
    height: 100px;
    font-size: 18px;
}

#group, .removable {
    color: #FDFDFD;
    padding-left: 30px;
    padding-bottom: 20px;
}



.spacer {
    height: 50px;

}


#messagePanel {
    flex: 1;
    height: 100%;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
}

#messageDisplay {
    background-color: #FDFDFD;
    flex: 1;
    overflow-y: scroll;
}

#messageCompose {
    background-color: #FDFDFD;
    height: 80px;
    border: none;
    border-top: 1px solid #CDCDCD;
}

form {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#content {
    flex: 1;
    min-width: 300px;
    border: none;
    font-size: small;
    color: #CDCDCD;
    padding-left: 50px;
}

input[type="text"]:focus {
    outline: none;
}

input.wide {
    width: 100%;
    
}

#send {
    height: 100%;
    border: none;
    color: #1AC16F;
    background-color: #FDFDFD;
    font-size: small;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

#send:hover {
    color: #CDCDCD;
    /* background-color: #1AC16F; */
}

textarea {
    height: auto;
    /* Remove resize handle */
    resize: none;
    /* Remove focus border */
    outline: none;
    line-height: 1;
    font-size: 18px;
    padding-top: 20px;
}

#ruler {
    visibility: hidden;
    white-space: nowrap;
    display: inline-block;
}
